.advantages {
  padding: 100px 0 50px;
}

.advantages__img {
  position: absolute;
  z-index: -1;
  left: -320px;
}

.advantages__wrapper {
  display: flex;
  justify-content: flex-end;
}

.advantages__content {
  max-width: 570px;
  width: 100%;
  margin-left: 40px;
}

.advantages__title {
  font-size: 45px;
  font-family: "Gilroy-bold";
  line-height: 1.2;
}
.advantages_text {
  color: $dark-grey-color;
  margin: 20px 0 80px;
  text-align: left;
}
.advantages__items {
  max-width: 600px;
}

.advantages__item {
  margin-top: 50px;
  display: flex;
  height: 135px;
  transition: 0.3s;
  &:hover {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
  }
}

.advantages__item-img {
  margin: 20px 30px;
  max-width: 100px;
  width: 100%;
}

.advantages__item-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.advantages__item-title {
  font-size: 20px;
  font-family: "Gilroy-bold";
}

.advantages__item-text {
  font-size: 15px;
}
