footer {
  padding: 100px 0 20px;
  background: #f3f3f3;
  font-size: 16px;
  font-family: "gilroy-semibold";
  color: #666666;
}

.footer__items {
  display: flex;
  justify-content: space-between;

  :first-child {
    p {
      max-width: 270px;
      width: 100%;
      font-family: "gilroy-medium";
    }
  }

  :last-child {
    max-width: 220px;
  }
}

.footer__item {
  li {
    list-style-type: none;
    font-size: 16px;
    line-height: 2.3;

    ::before {
      border-radius: 50%;
      background: #f25822;
      width: 5px;
      height: 5px;
      position: absolute;
      content: "";
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      color: $dark-grey-color;
      position: relative;
    }
  }
}

.footer__text {
  margin-top: 50px;
}

.footer__title {
  font-family: "gilroy-bold";
  font-size: 24px;
  margin-bottom: 35px;
}

.footer__map {
  margin-bottom: 20px;
}

.footer__mail {
  margin-bottom: 20px;
  a {
    color: #666666;
  }
  :hover {
    color: $orange-color;
    transition: 0.3s all;
  }
}

.footer__phone {
  margin-top: 20px;
  a {
    color: #666666;
  }
  :hover {
    color: $orange-color;
    transition: 0.3s all;
  }
}

.footer__line {
  border: 1px solid #cccccc;
  width: 1170px;
  margin: 50px auto 0;
}

.copyrights {
  text-align: center;
  margin-top: 30px;
}
