header {
  padding: 40px 0;
}
.hamburger {
  position: fixed;
  right: 10px;
  padding: 10px 3px;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: none;
  top: 10px;

  div {
    transition: 0.5s all;
    height: 2px;
    margin: 6px 2px;
    width: 30px;
    background: $orange-color;
  }
}

.hamburger_active {
  width: 40px;
  height: 40px;

  div {
    &:nth-child(1) {
      transform: translateY(8px) rotate(-45deg);
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform: translateX(0) rotate(45deg);
    }
  }
}

.header__logo {
  width: 140px;
  height: 40px;
  margin-right: 40px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  max-width: 690px;
  width: 100%;
  justify-content: space-between;
}

.header__right_active {
  box-shadow: -30px 21px 26px -6px rgba(34, 60, 80, 0.28);
}

.menu {
  width: 76%;
}

.menu__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.menu__list-item {
  position: relative;
  // &:hover {
  //   .menu__dropdown {
  //     display: block;
  //   }
  // }
}

.menu__list-link {
  color: $black-color;
  transition: 0.2s;

  &:hover {
    color: $orange-color;
  }
}

.has__dropdown {
  position: relative;
  padding-right: 12px;
  &::after {
    content: "";
    background: url(../img/header/arrow-down.svg);
    position: absolute;
    width: 8px;
    height: 5px;
    right: 0;
    top: 7px;
    transition: 0.3s;
  }
}

.menu__dropdown {
  list-style: none;
  background: grey;
  border-radius: 5px;
  display: none;
  position: absolute;
  width: 110px;
  color: $white-color;
  z-index: 2;
}

.active {
  display: block;
}

.menu__dropdown-item {
  margin: 5px 10px;

  a {
    color: $white-color;
    &:hover {
      color: #edecec;
    }
  }
}
