.info {
  padding: 50px 0 40px;
}
.info__wrapper {
  display: flex;
  justify-content: center;
}

.info__items {
  border: 2px solid #eeeeee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  flex-wrap: wrap;
  padding: 40px 0 40px;
}

.info__item {
  position: relative;
  font-size: 70px;
  color: $dark-grey-color;
  font-family: "gilroy-bold";
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 156px;

  &:last-child {
    &::after {
      display: none;
    }
  }
  &:nth-child(3n + 2) {
    &::after {
      background: #149211;
    }
  }
  &:nth-child(3n) {
    &::after {
      background: #ffc700;
    }
  }

  &::after {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f3602d;
    border-radius: 50%;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -50%;
  }

  span {
    font-size: 18px;
    font-family: "gilroy-semibold";
  }
}
