.info {
  padding: 50px 0 40px;
}

.info__items {
  border: 2px solid #eeeeee;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info__item {
  position: relative;
  font-size: 70px;
  color: $dark-grey-color;
  font-family: "gilroy-bold";
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 156px;

  &:last-child {
    &::after {
      display: none;
    }
  }

  &::after {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #f3602d;
    border-radius: 50%;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -50%;
  }

  span {
    font-size: 18px;
    font-family: "gilroy-semibold";
  }
}

.info__item2 {
  &::after {
    background: #149211;
  }
}

.info__item3 {
  &::after {
    background: #ffc700;
  }
}

.info__item4 {
  ::after {
    background: transparent;
  }
}
