.news {
  text-align: center;
  padding: 30px 0 100px;
  line-height: 1.5;
}

.title {
  font-size: 45px;
  font-family: "gilroy-bold";
}

.news__slider {
  margin-top: 60px;
}

.news__slider-slide {
  margin: 55px 30px 60px;
  display: flex !important;
  border: 1px solid #eeeeee;
  transition: 0.3s all;
  opacity: 0.6;
  &:hover {
    border: 1px solid #fff;

    box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
  }
}

.news__slider-slide.slick-current {
  opacity: 1;
}

.news__wrapper-left {
  max-width: 370px;
  width: 100%;
  margin-right: 30px;
}

.news__img {
  width: 100%;
  height: 100%;
}

.news__wrapper-right {
  max-width: 340px;
  width: 100%;
  text-align: start;
  padding: 35px 50px 35px 0;
}

.news__title {
  font-family: "gilroy-Bold";

  font-size: 24px;
}

.news__indicators {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  width: 100%;
}

.news__indicator {
  position: relative;
  font-size: 11px;
  font-family: "gilroy-medium";
  color: $grey-color;
  margin-left: 15px;
}

.news_person,
.news_heart,
.news_message {
  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: -20px;
  }
}

.news_person {
  &::before {
    background: url(../img/news/person.svg) center center/cover no-repeat;
  }
}

.news_heart {
  &::before {
    background: url(../img/news/heart.svg) center center/cover no-repeat;
  }
}

.news_message {
  &::before {
    background: url(../img/news/message.svg) center center/cover no-repeat;
  }
}

.news__text {
  font-size: 15px;
}

.news__link {
  color: $orange-color;
  margin-top: 25px;
  display: inline-block;
  &:hover {
    color: rgba(242, 88, 34, 0.25);
    transition: 0.3s all;
  }
}
