.plans {
  padding: 80px 0 100px;
  text-align: center;
  background: #fafafa;
  max-height: 820px;
  height: 100%;
}

.plans_subtitle {
  margin-bottom: 90px;
}
.plans_text {
  margin-bottom: 40px;
}

.plans__items {
  display: flex;
  justify-content: space-between;
}

.plans__item {
  background: #fff;
  height: 494px;
  padding: 60px 20px 50px;
  transition: 0.4s;
  margin: 40px 15px 0;
  max-width: 370px;
  width: 100%;
  text-align: center;

  &:hover {
    box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
    padding: 90px 20px 70px;
    height: 554px;

    transform: translateY(-40px);

    .plans__item-title {
      color: #f25822;
    }

    .btn {
      background: #f25822;
      color: #ffffff;
      transition: 0.3s all;
    }
  }
}

.plans__item-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "gilroy-medium";
}

.plans__item-prices {
  font-size: 18px;
  font-family: "Gilroy-medium";
  span {
    font-size: 70px;
    position: relative;
    &::before {
      content: "$";
      position: absolute;
      left: -15px;
      top: 10px;
      font-size: 18px;
    }
  }
}

.plans__item-bonuses {
  max-width: 212px;
  width: 100%;
  margin: 0 auto 40px;
  div {
    line-height: 2.5;
    color: $dark-grey-color;
    text-align: center;
  }
}
