.team {
  padding: 85px 0 40px;
  text-align: center;
}

.team__items {
  display: flex;
  justify-content: space-between;
}

.team__item {
  padding: 45px 5px;
  border: 1px solid #eee;
  margin: 20px 10px;
  transition: 0.3s all;
  max-width: 270px;
  width: 100%;
  &:hover {
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
  }
}
.team__link-wrapper {
  margin: 0 7px;
}

.team__title {
  font-size: 45px;
  font-family: "Gilroy-bold";
  margin-bottom: 30px;
}

.team_subtitle {
  font-size: 16px;
  color: $dark-grey-color;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 50px;
}

.team__item-img {
  margin-bottom: 15px;
}

.team__item-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Gilroy-semiBold";
}
.socials {
  justify-content: flex-start;
}

.team_socials {
  margin-top: 20px;
  justify-content: center !important;
}

.team__socials-link {
  width: 20px;
  height: 20px;
}
