@media (max-width: 1200px) {
  .advantages {
    padding: 50px 0 40px;
  }
  .advantages__title {
    font-size: 30px;
  }
  .advantages__img {
    left: -230px;
    width: 700px;
    height: 800px;
  }
}
