@media (max-width: 1200px) {
  .business__title {
    font-size: 35px;
  }
  .business {
    img {
      width: 590px;
      height: 450px;
    }
  }
  .business__text {
    margin: 30px 0 30px;
  }
}
