@media (max-width: 1430px) {
  .clients {
    padding: 60px 0 20px;
    .slick-dots {
      bottom: 0px;
    }
  }
  .clients__slider {
    padding-bottom: 20px;
  }

  .clients__item {
    padding: 20px 15px 20px;
    margin: 10px 10px 45px;
  }
  .slick-dots {
    top: -220px;
  }
}
