@media (max-width: 1000px) {
  .footer {
    padding: 50px 0 20px;
  }
}

@media (max-width: 900px) {
  .footer__items {
    display: grid;
    grid-template-columns: 35% 25%;
    justify-content: center;
    grid-gap: 20px;
  }
  .footer__item {
    margin: 0;
    width: max-content;
    li {
      a {
        padding: 0;
      }
      ::before {
        display: none;
      }
    }
  }
  .footer__text {
    margin-top: 26px;
  }
}

@media (max-width: 850px) {
  .footer__item {
    &:first-child {
      p {
        max-width: 200px;
      }
    }
  }
}

@media (max-width: 530px) {
  .footer__items {
    grid-template-columns: 1fr 1fr;
  }
  .footer__item {
    &:last-child {
      max-width: 150px;
    }
  }
  .footer__title {
    font-size: 18px;
  }
}
@media (max-width: 460px) {
  .footer__item {
    &:first-child {
      p {
        max-width: 150px;
      }
    }
  }
}
