@media (max-width: 1250px) {
  .info {
    .container {
      margin: 0 auto;
    }
  }
  .info__items {
    max-width: 1050px;
  }
}

@media (max-width: 1050px) {
  .info__item {
    &::after {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .info__item {
    font-size: 40px;
    width: 140px;
    span {
      font-size: 14px;
    }
  }
}

@media (max-width: 640px) {
  .info {
    padding: 25px 0 25px;
  }
  .info__items {
    justify-content: space-evenly;
  }
  .info__item {
    margin: 0 30px;
  }
}
@media (max-width: 460px) {
  .info__item {
    margin: 0;
  }
}
