@media (max-width: 1200px) {
  .info__items {
    height: 160px;
    max-width: 950px;
    margin: 0 auto;
  }
  .info__item {
    font-size: 50px;
    &::after {
      right: -35%;
    }
  }
}

@media (max-width: 1000px) {
  .info__items {
    max-width: 740px;
  }
  .info__item {
    font-size: 40px;
    &::after {
      display: none;
    }
  }
}
