@media (max-width: 1050px) {
  .plans {
    max-height: 760px;
    padding: 50px 0 90px;
  }
}

@media (max-width: 900px) {
  .plans {
    max-height: 1790px;
  }
  .plans__items {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .plans__item {
    margin: 70px auto 0;
    max-width: 330px;
    padding: 40px 20px 20px;
    height: 454px;
    &:hover {
      transform: translateY(0px);
      padding: 50px 20px 40px;
      height: 474px;
    }
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
}
