@media (max-width: 1250px) {
  .plans {
    padding: 40px 0 50px;
    height: 800px;
  }
  .plans__item {
    padding: 40px 60px 50px;
    height: 450px;
  }
}

@media (max-width: 1250px) {
  .plans {
    height: 720px;

    .btn_plans {
      padding: 11px 23px;
    }
  }
}

@media (max-width: 1200px) {
  .plans__item {
    padding: 60px 50px 50px;
    &:hover {
      padding: 60px 50px 50px;
      height: 520px;
      transform: translateY(-14px);
      height: 485px;
    }
  }
}

@media (max-width: 1000px) {
  .plans {
    height: 650px;
  }
  .plans__item {
    padding: 30px 30px 25px;
    height: 420px;
    &:hover {
      height: 450px;
      padding: 60px 50px 50px;
      transform: translateY(-12px);
    }
  }

  .plans__item-prices {
    font-size: 16px;
    span {
      font-size: 50px;
    }
  }
}
