@media (max-width: 1285px) {
  .promo__title {
    font-size: 50px;
    &::after {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 30px;
    font-family: "Gilroy-bold";
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .promo__img {
    max-width: 800px;
  }
  .promo__title {
    font-size: 30px;
  }
}
@media (max-width: 1150px) {
  .promo {
    padding: 80px 0 50px;
    min-height: 520px;
  }
  .promo__img {
    max-width: 770px;
  }
  .promo__icon {
    display: none;
  }
  .promo__wrapper {
    max-width: 450px;
  }
}

@media (max-width: 1040px) {
  .promo {
    min-height: 460px;
  }
  .promo__img {
    max-width: 680px;
  }
}

@media (max-width: 950px) {
  .promo {
    padding: 40px 0 40px;
    min-height: 390px;
  }
  .promo__img {
    max-width: 600px;
    top: -60px;
  }
}

@media (max-width: 875px) {
  .promo {
    min-height: 320px;
  }
  .promo__img {
    max-width: 540px;
    height: 340px;
  }
}
@media (max-width: 820px) {
  .promo__img {
    max-width: 490px;
    height: 320px;
    left: 70%;
  }
}
