@media (max-width: 1000px) {
  .services {
    padding: 50px 0;
  }
}
@media (max-width: 960px) {
  .services__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services__item {
    max-width: 265px;
  }
  .services__item-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .services__item-text {
    margin: 0 auto 20px;
  }
  .services__item-img {
    height: 180px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1100px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 800px) {
}
