@media (max-width: 1400px) {
  .services {
    padding: 50px 0;
  }
  .services__item {
    padding-bottom: 30px;
    max-width: 350px;
  }
}

@media (max-width: 1250px) {
  .services__item-img {
    height: 240px;
  }
}
@media (max-width: 1200px) {
  .services__title {
    font-size: 30px;
  }
}

@media (max-width: 1100px) {
  .services__item-title {
    font-size: 20px;
  }
  .services__item {
    max-width: 270px;
  }

  .btn_services {
    padding-left: 30px;
  }
}

@media (max-width: 1000px) {
  .services__item {
    max-width: 245px;
  }
  .services__item-text {
    margin: 0 auto 20px;
  }
  .services__item-img {
    height: 190px;
    margin-bottom: 10px;
  }

  .btn_services {
    padding-left: 25px;
    padding: 10px 25px;
    &::after {
      right: 15px;
      transform: translate(0, -50%);
    }
  }
}

@media (max-width: 800px) {
  .btn_services {
    &::after {
      right: 8px;
      transform: translate(0, -43%);
    }
  }
}
