@media (max-width: 1250px) {
}

@media (max-width: 1045px) {
  .speed__form {
    input {
      height: 40px;
      padding: 0px 10px;
    }
  }
  .speed__wrapper {
    max-width: 500px;
  }
  .btn_speed {
    padding: 11px 40px;
  }
}
@media (max-width: 780px) {
  .speed {
    padding: 60px 0 60px;
  }
  .speed__img {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .speed__img {
    display: none;
  }
}

@media (max-width: 520px) {
  .speed__form {
    input {
      width: 50%;
    }
  }
  .btn_speed {
    margin: 20px 0 0 auto;
  }
}

@media (max-width: 730px) {
}
