@media (max-width: 900px) {
  .team {
    padding: 45px 0 40px;
  }
  .team__items {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {
}

@media (max-width: 1100px) {
}
